*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
    background-color: #ebf2ff;
    color:rgb(61, 66, 80)
}
.container{
    padding: 0 20px;
}
.nav__bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffff;
    
}
.nav__brand{
    width: 120px;
}
.nav__logo{
    width: 100%;
}
.primary__button{
    background-image: linear-gradient(
        to right,
        #f51c1c 0%,
        #f51c1c 50%,
        #f51c1c 100%
      );
      padding:13px 22px;
      color: #ffff;
      border-radius: 6px;
      border:none;
      cursor: pointer;
}
.primary__button:hover{
    background-image: linear-gradient(
        to right,
        rgb(185, 51, 51) 0%,
        #df2b2b 50%,
        #c30e0e 100%
      );
      
}
.hero__section{
    padding-top:13px; 
}
.hero__img__section{
    width:100%;
    position: relative;
}
.hero__img{
    width: 100%;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.hero__text{
    font-weight: 900;
    font-size: 30px;
    margin-top: 90px;
    margin-bottom: 10px;
}
.food__card__img{
    width: 100%;
    
}
.food__img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.exp__section{
    margin: 30px 0;
}
.exp__text{
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
    
}
.food__card{
    background-color: #ffff;
    border-radius: 8px;
    border: 1px solid rgb(216, 216, 226);
    margin-bottom: 15px;
}
.exp__btn{
    display: flex;
    justify-content: center;
}

.food__card__description{
    padding: 15px;
}
.hero__bg,.hero1__bg{
    position: absolute;
    top:0;
    right: 0;
    z-index: -3;
}
.res__container
{
    width: 100%;
    margin: 10% 0;
}
.res__text{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.res__img__row1,.res__img__row2{
    width:100%;
    display: flex;
    
    
}
.res__img__row1{
    align-items: baseline;
    margin-bottom: 4px;
}
.res__img1,.res__img2,.res__img3,.res__img4{
    width: 100%;
    height: 100%;
}
.res__img1,.res__img4{
    width: 120%;
}
.res__img1,.res__img3{
    margin-right: 5px;
}
.img1,.img4{
    width: 100%;
    height:120px;
    border-radius: 5px;
}
.img2,.img3{
    width: 100%;
    height: 150px;
    border-radius: 5px;
}
.mail__section{
    width: 100%;
}
.input__section{
    width: 100%;
    display: flex;
    align-items: center;
    
}
input{
    width:150%;
    height: 80%;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid salmon;
    background-color: rgb(233, 215, 220);
    font-weight: bold;
    color: slategray;
    margin-right: 5px;
}
.input__btn{
    width:140px;
    padding:10px 8px;
    
}
.quote__section{
    background: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80")
    center center/cover no-repeat;
   width: 100%;
   height: 180px;
   display: flex;
   flex-direction: column;
   position: relative;
   justify-content: center;
   align-items: center;
   margin: 30px 0;
   border-radius: 20px;
}
.quote__bg{
    width: 100%;
    height: 180px;
    background-color: #0a4065;
    opacity: 55%;
    position: absolute;
    border-radius: 20px;
}
.quote__text{
   text-align: center;
   z-index: 3;
   color:#ffff;
   margin: 0 1rem;
}
footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 226, 226);
    border-radius: 8px 8px 0 0;
    padding: 0 70px;
    padding-bottom: 8%;
     
}

.footer__logo{
    width: 100%;
}
.footer__img{
    width: 100%;
}
ul{
    width: 100%;
    list-style-type: none;
    text-align: center;
}
li{
    font-size: large;
    font-weight: 900;
    margin: 4px 0;
}

@media(min-width: 768px)
{
    .nav__bar{
        justify-content: space-between;
        padding: 0px 30px;
    }
    .container{
        padding:0 30px;
    }
    .hero__section{
        padding-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 30px;
    }
    .hero__bg,.hero1__bg{
        bottom: auto;
    }
    .exp__section{
        margin-top: 20%;
        position: relative;
        padding: 20px;
    }
    .exp__items{
        display: flex;
        gap:10px;
        margin-top: 60px;
    }
    #ice{
        margin-top: -30px;
        margin-bottom: 30px;
    }
    .exp__text{
    font-size: 40px;
    }
    .exp__bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
        );
        z-index: -3;
        transform: skewY(-5deg);

    }
    .res__container{
        display: flex;
        align-items: center;
        margin-bottom: 8%;
    }
    .res__text{
        width: 100%;
    }
    .res__img__section{
        width:120%;
    }
    .mail__section{
        margin: 0 auto;
        max-width: 400px;
    }
    .mail__text{
        font-size: x-large;
        margin-bottom: 5px;
    }
   .quote__section{
       height: 300px;
       margin: 8% 0;
   }
   .quote__bg{
       height: 300px;
   }
   .quote__text{
       font-size: 30px;
       margin: 0 8%;
   }
   footer{
       display: flex;
       justify-content: space-between;
       flex-direction: row;
       padding-left: 20%;
       padding-top:5%;
       padding-bottom: 5%;
   }
   .footer__logo{
       width: 300px;
   }
}
@media(min-width: 1030px)
{  
    .nav__brand{
       width: 100px;
    }
    .primary__button{
        font-size: 15px;
        padding: 15px 25px;
    }
    .hero__section{
        padding-top: 50px;
    }
    .hero__decription{
        width:100%;

    }
    .container{
         padding:0 10%;
         margin: 0 auto;
    }
     .hero__text{
         font-size: 45px;
         font-weight: bold;
    }
    .exp__items{
        gap:30px;
    }
    .res__img1,.res__img4{
        width: 110%;
    }
    .res__img__section{
        width: 150%;
    }
    .img2,.img3{
        height: 260px;
    }
    .img1,.img4{
        height: 180px;
    }
    .res__text{
        font-size:xx-large;
    }
    .mail__text{
        font-size: 30px;
    }
    .input__btn{
        width: 70%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .quote__text{
        margin: 0 3%;
    }
    li{
        font-size: x-large;
    }
}

